<meta charset="UTF-8"/>
		<footer>
			<!-- Barra de enlaces -->
	        <div class="container-fluid">
	            <div class="barra-enlaces">
	      
	            </div>
	        </div>
	        <!-- Sección de enlaces -->
	        <div class="container-fluid enlaces">
	            <div class="row">
	             <!--    <div class="col-sm text-center">
	                    <p class="encabezado-enlace">Quiénes somos</p>
	                    <a href="/auditoria/facultades">Facultades</a>
	                    <a href="/auditoria/departamentos">Departamentos</a>
	                    <a href="/auditoria/organigrama">Organigrama</a>
	                    
	                </div> -->
	                <div class="col-sm text-center">
	                  
	                </div>
	                <div class="col-sm text-center">
	           
	                </div>
	                <div class="col-sm text-center">
	                    
	                    
	                </div>
	            </div>
	        </div>
            <div class="footer">
                <div class="f-enlaces">
                	
                </div>
                <p class="f-texto rm"></p>
                <p class="f-texto rm"></p>
            </div>
        </footer>